<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Asset/index.css" />
    <link rel="stylesheet" href="~/Asset/shop.css" />
    <link rel="stylesheet" href="~/Asset/chitietsanpham.css">
    <link rel="stylesheet" href="~/Asset/giohang.css" />
    <link href="~/Asset/login1.css" />

    <script src="/Scripts/jquery-3.1.1.min.js"></script>

   
    @Styles.Render("~/Asset/css")

</head>

<body>
    <style>

        .timkiem1 {
            left: -58px !important;
            bottom: -42px!important;
           
        }

        .timkiem {
            position: absolute !important;
           
        }
        #timkiem2 {
            transform: translate(12px, 18px);
        }
        .dropdown {
            transform: translate(-37px, -21px);
        }
        #dropdownMenuButton {
            transform: translate(-24px, 20px);
        }
    </style>
    <header>
        <div class="logo">
            <div class="header">
                <a href="/Home/Index">
                    <div class="background">
                        <img src="/img/Skateboarding wallpaper for all the skateboarders _ Flatline.jpg" alt="">
                    </div>
                    <div class="logo1"> <img src="/img/Untitled-1-01-removebg-preview.png" alt="logo"></div>
                </a>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light text-white">
          
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/Product/Index">CỬA HÀNG<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Discount/discount.html">KHUYẾN MÃI</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">BLOG</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Contact/contact.html">LIÊN HỆ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
                    </li>
                </ul>

                <!-- <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm..." aria-label="Search"> -->
                <div class="left">
                    @*<div>
            <input class="btn btn-primary" type="button" value="Input">
        </div>*@

                    @*<button class="btn btn-outline-success my-2 my-sm-0 timkiem mr-3">

            @if (Session["Customer"] != null)
            {
                <i class="far fa-user"></i>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Thông tin cá nhân</a>
                    <a class="dropdown-item" href="#">Đơn hàng</a>
                    <a class="dropdown-item" href="/Customer/LogOut">Đăng xuất</a>
                </div>

            }
            else
            {
                <a href="/Customer/Login">
                    <i class="far fa-user"></i>
                </a>
            }
        </button>*@
                    <div class="dropdown ">
                        @{ var userLogin = Session["Customer"] as SkateBoard.Models.Customer;}
                        @if (userLogin != null)
                        {
                            <span class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @userLogin.Username
                            </span>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="#">Thong tin khach hang</a></li>
                                <li>
                                    <a class="dropdown-item" href="#">Quan ly don hang</a>
                                </li>
                                <li><a class="dropdown-item" href="/Customer/LogOut">Dang xuat</a></li>
                                <li>
                                    <a class="dropdown-item" href="/ShopingCart/ShowtoCart">Giỏ hàng</a>
                                    <i class="fas fa-shopping-cart"></i>
                                    @Html.Action("BagCart", "ShopingCart")
                                </li>

                            </ul>
                        }
                        else
                        {


                        <li class="btn btn-outline-success my-2 my-sm-0 timkiem1 timkiem">
                            <a href="/Customer/Login">
                                <i class="far fa-user"></i>
                            </a>
                        </li>
                        }
                        @*<li class="btn btn-outline-success my-2 my-sm-0 timkiem timkiem2" id="timkiem2">
                            <a href="/ShopingCart/ShowtoCart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                            @Html.Action("BagCart", "ShopingCart")
                        </li>*@
                    
                      
                    </div>









                   

                </div>
            </div>
        </nav>
    </header>







    <div class="store">
        @RenderBody()
    </div>
    <div class="site-footer">
        <div class="container">
            <div class="footer-inner padding-top-50">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-8">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-lg-6">
                                <div class="footer-widget">
                                    <a href="/" class="logo-wrapper inline-block">
                                        <img src="~/img/Untitled-1-01-removebg-preview.png" alt="logo ">
                                    </a>
                                    <ul class="list-menu list-showroom margin-top-15">
                                        <li>
                                            <p style="padding-left: 0;">
                                                Nhờ sự ủng hộ mạnh mẽ từ những người có cùng đam mê khắp nơi trên cả nước, chúng tôi tự hào là một trong những skateshop chuyên nghiệp nhất Việt Nam ở thời điểm hiện tại.
                                            </p>
                                        </li>
                                    </ul>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-lg-6">
                                <div class="footer-widget">
                                    <ul>
                                        <li>
                                            <a href="../MAP/Map.html">Bản đồ</a>
                                        </li>
                                        <li>
                                            <a href="../Shopping card/card.html">Giỏ hàng</a>
                                        </li>
                                        <li>
                                            <a href="#">Blog</a>
                                        </li>
                                        <li>
                                            <a href="#">Điều khoảng</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="footer-widget">
                            <h3><span>Địa chỉ cửa hàng</span></h3>
                            <h4 style=" margin-top: 22px; ">Địa chỉ</h4>
                            <p>
                                221 Đề Thám, Phường Phạm Ngũ Lão, Quận 1, TP. HCM
                            </p>
                            <h4>Hỗ trợ &amp; Tư vấn</h4>
                            <p>
                                <a href="callto:091150189">091150189</a>
                            </p>
                            <h4>Email</h4>
                            <p>
                                <a href="mailto:saigonskateshop@gmail.com">saigonskateshop@gmail.com</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript " src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js "></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script>

   
</body>

</html>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)



