@using SkateBoard.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
@*//day la login ben admin
    //cai nay la dung tam cai identity lam admin cạu hieu hk nen phai dung cai layout do lun
    //ok
    // à thấy layout quen quen tưởng m xóa cái lognin kia kêu làm lại/
    / kì này tui làm màu mè cho cậu coi :
    ))
    //pls
    //t tao cai nick admin v thoi
    //lat m lam m bo cai dang ky di nha
    // là k có đăng ký cho admin đúng k làm login đủ? ùm vì admin đăng ký làm gì éo đc đăng ký ok cậu tui sẽ làm đep*@



<link href="~/Asset/login_admin.css" rel="stylesheet" type="text/css" />
<h2></h2>

    </div>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> Sign In </h2>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <!-- Login Form -->
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <form>

                <div>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control fadeIn third" })
                    @*<input type="text" id="login" class="fadeIn second" name="login" placeholder="login">*@
                    <br />
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div>
                    @*<input type="text" id="password" class="fadeIn third" name="login" placeholder="password">*@
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control fadeIn third" })
                    <br />
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>
            @*<section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>*@
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
