@model SkateBoard.ViewModel.ProductViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";

}



<link href="~/Asset/Detail_product.css" rel="stylesheet" type="text/css" />
<body>

    <div class="container">
        <div class="margin_top_60">
            <a href="/Home/Index" class="link_return">Trang chủ</a> &gt; <a href="#" class="link_return">chi tiết sản phẩm</a>
            &gt;

        </div>
        <div class="row margin_tb_60">
            <div class="col-12 col-sm-3 col-md-4 col-lg-5">
                <div class="big_img">
                    <img src="/@Html.DisplayFor(model=>model.Product.Image)">
                </div>
                <div class="thumb_img margin_top_60">
                    <img src="/@Html.DisplayFor(model=>model.Product.Image)">
                    <img src="/@Html.DisplayFor(model=>model.Product.Image)">
                    <img src="/@Html.DisplayFor(model=>model.Product.Image)">
                </div>
            </div>
            <div class="col-12 col-sm-9 col-md-8 col-lg-7 pl-5">
                <h2><strong>@Model.Product.Name</strong></h2>
                <div class="star_icon">
                    <a href="#" class="yellow_star"><i class="fas fa-star" aria-hidden="true"></i></a>
                    <a href="#" class="yellow_star"><i class="fas fa-star" aria-hidden="true"></i></a>
                    <a href="#" class="yellow_star"><i class="fas fa-star" aria-hidden="true"></i></a>
                    <a href="#" class="yellow_star"><i class="fas fa-star" aria-hidden="true"></i></a>
                    <a href="#" class="yellow_star"><i class="fas fa-star" aria-hidden="true"></i></a>
                </div>
                <h3 class="text-dark margin_top_30"><strong>@Html.DisplayFor(model => model.Product.Price)</strong></h3>
                <hr class="mt-4">
                <p class="blue_text mt-4"><strong>@Html.DisplayFor(model => model.Product.Category.Name)</strong></p>

                <p class="mt-4">
                    <strong><span class="blue_text">THÔNG TIN SẢN PHẨM</span></strong>
                    <br>@Html.DisplayFor(model => model.Product.Details)
                </p>
                <p class="blue_text mt-4"><strong>Số lượng:</strong></p>
                <div class="float-left">
                </div>
                <div class="float-right">
                    <a href="#" class="heart_icon"><i class="fas fa-heart" aria-hidden="true"></i></a>
                    <a href="#" class="btn">Add to card</a>
                </div>
            </div>
        </div>
        <!--End row-->
    </div>
    <div class="container">

        <div class="carousel-item">
            <div class="row">

                <div class="col-4">
                    <img alt=" hinh1" />
                </div>
                <div class="col-4">
                    <img alt=" hinh1" />
                </div>
                <div class="col-4">
                    <img alt=" hinh1" />
                </div>
            </div>

        </div>

    </div>
    <div class="see_all">
        <a href="/Product/">Xem tất cả</a>
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

        <div class="row margin_tb_60">
            <div class="col-lg-12 text-center">
                <h3><strong>CÓ THỂ BẠN QUAN TÂM</strong></h3>
            </div>

        </div>
        <div class="carousel-inner">
            <div>
                <div class="carousel-item active ">
                    <div class="row">
                        @foreach (var item in Model.RelateProducts)
                        {
                            <div class="col-3">
                                <a href="/Product/Details/@item.Id" class="carousel-title">
                                    <img src="~/@item.Image" class="collection_im">@item.Name
                                </a>
                            </div>
                        
                        }
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                       
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>

