@*@model IEnumerable<SkateBoard.Models.Product>*@
@using SkateBoard.Models
@using PagedList.Mvc;
@model PagedList.PagedList<Product>
@{
    ViewBag.Title = "Index";
   
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}


<link href="~/Asset/shop.css" rel="stylesheet" type="text/css" />

<section id="store" class="store py-5">




    <style>
 
    </style>
    <div class="container">
        <div class="row">
            <div class=" col-lg-8 mx-auto d-flex justify-content-around my-2 sortBtn flex-wrap">
                @Html.Action("Category", "Product")

            </div>
        </div>
        @using (Html.BeginForm("Index", "Product", FormMethod.Get))
        {
            <div class="row">
                <div class="col-10 mx-auto col-md-6">
                    <form>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend ">
                            </div>
                            <input type="text" name="Search" class="form-control" placeholder='item....' id="search-item">
                            <input type="submit" class="btn btn-success" value="Tìm kiếm" />
                        </div>
                    </form>
                </div>
            </div>
        }

        <!-- store  items-->

        <div class="row" class="store-items" id="store-items">
            @foreach (var item in Model)
            {
                <div class=" col-lg-4 mx-auto my-3 store-item sweets" data-item="sweets">
                    <div class="card ">
                        <div class="img-container card-item">
                            <a href="/Product/Details/@item.Id"><img src="/@item.Image" class="card-img-top store-img" alt=""></a>
                            <span class="store-item-icon">
                                <a href="/ShopingCart/AddToCart/@item.Id"><i class="fas fa-shopping-cart" id="add-to-cart"></i></a>

                            </span>
                        </div>
                        <div class="card-body">
                            <div class="card-text  justify-content-between text-capitalize">
                                <h5 id="store-item-name">@item.Name</h5>
                                <h4 class="store-item-value">
                                </h4>
                                <div class="mt-2 mb-2">
                                    <i class="fas fa-sun"></i>
                                    <i class="fas fa-sun"></i>
                                    <i class="fas fa-sun"></i>
                                    <i class="fas fa-sun"></i>
                                    <i class="fas fa-sun"></i>
                                </div>
                                <strong id="store-item-price"
                                        class="font-weight-bold">GIÁ: @item.Price VNĐ</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
            @*<div class="row text-center page_shop">
                <div class="col-sm-12 page">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
                </div>
            </div>*@

        </div>
        <div class="text-center page_shop">
            <div class="page">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
            </div>
        </div>
    </div>
</section>



