@using SkateBoard.Models
@using PagedList.Mvc;
@model PagedList.PagedList<Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



<style>
    hr {
        display: none;
    }
</style>

<div style="transform: translate(10px, 100px); background: white; padding: 40px; border-radius: 20px; }">


    <table class="table" ">
        <h2 style="color:blue" class="mb-15">Danh Sách Khách hàng</h2>
        <p style=" 114px); font-size: 20px; ">

            <i class="fas fa-plus" style="color:blue"></i>
            @Html.ActionLink("Tạo mới khách hàng", "Create")
        </p>
        <tr>
            <th>
                @Html.Label("Tên đăng nhập")
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Password)
            </th>*@
            <th>
                @Html.Label("Full name")
            </th>
            <th>
                @Html.Label("Địa chỉ")
            </th>
            <th>
                @Html.Label("Email")
            </th>
            <th>
                @Html.Label("Điện thoại")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.fullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    <div class="text-center page_shop">
        <div class="page">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
        </div>
    </div>

</div>