@using SkateBoard.Models
@using PagedList.Mvc;
@model PagedList.PagedList<Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



<div style="transform: translate(10px, 100px); background: white; padding: 40px; border-radius: 20px; }">
    <table class="table" style=" text-align: center;">
        <h2 class="mb-15" style="color:blue">Danh sách sản phẩm</h2>
        <p style="font-size:20px">
            <i class="fas fa-plus" style="color:blue"></i>
            @Html.ActionLink("Thêm sản phẩm", "Create")
        </p>

        <tr>
            <th>
                @Html.Label("Danh mục")
            </th>
            <th>

                @Html.Label("Tên SP")
            </th>
            <th>

                @Html.Label("Gía tiền")
            </th>
            <th>

                @Html.Label("Hình ảnh")
            </th>
            <th>

                @Html.Label("Mô tả")
            </th>
            @*<th>

                @Html.Label("SL Tồn")
            </th>*@
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                   
                </td>
                <td>
                    <img src="/@item.Image" />
                    @*@Html.DisplayFor(modelItem => item.Image)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Details)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.SLton)
                </td>*@
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </tr>
        }

    </table>
    <div class="text-center page_shop">
        <div class="page">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
        </div>
    </div>
</div>